.form-design, .form-login {
    border : 1px solid grey;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
}

.center-content > *{
    position: relative;
    top: 40%;
    color: white;
}

.form-login, .heading{
    width: 400px;
    margin : 30px auto;
}

.heading{
    text-align: center;
}

.heading > :not(span){
    color: white;
    margin: 10px;
}

.vertical-menu {
    padding: 15px;
    margin: 10px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
