<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Personal Finance Planner</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{time}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/043418245c.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body style="background-color:#2b3137">
        <nav class="navbar navbar-dark bg-dark justify-content-right">
            <a class="navbar-brand" href="#"><i class="fa fa-usd" aria-hidden="true"></i> <i class="fa fa-credit-card" aria-hidden="true"></i> Personal Finance</a>
            <div class="flex-row-reverse">
                {% if session["username"] %}
                    <a href="/logout"><button class="btn btn-primary my-sm-0">Log Out</button></a>
                {% else %}
                    <a href="/"><button class="btn btn-primary my-sm-0">Sign Up</button></a>
                    <a href="/login"><button class="btn btn-primary my-sm-0">Sign In</button></a>
                {% endif %}
            </div>
        </nav>

        <br>
        <div class= "container">
        <div class = "row">
            <div class="vertical-menu col-md-4 offset-md-1">
                <a href="/profile">Profile</a>
                <a href="/calculator">Savings Calculator</a>
                <a href="/expenses_form" class="active">Submit Monthly Expenses</a>
                <a href="/expenses_table">View Monthly Expenses</a>
            </div>

            <div class="col-md-5 offset-md-1 form-design">
                {% if session["error"] %}
                    <code><small>{{session["error"]}}</small></code>
                {% endif %}

                <form action="/for_expenses" method="POST">
                    <button type="button" id="addExpense"  class="btn btn-primary">Add Expense</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <p>{{response}}</p>
            </div>
        </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            var count = 1;
            for (var i = 0; i < 5; i++ ){
                addInput();
                count++;
            }
            $('#addExpense').click(function(){
                addInput();
                count++;
            })

            $('form').on('click', 'p', function(){
                var id = $(this).attr("id");
                $("#item" + id).remove()
                //alert(id)
            })
           
            function addInput(){
               code = `<div class="form-group" id="item${count}"><div class= "row"><div class="col-10"><div class="row">`
                + `<div class="col-6"><input type="text" class="form-control" name="item${count}" required>`
                + `</div><div class="col-6"><input type="number" class="form-control" name="price${count}"`
                + 'value="1234.56" step=0.01 min=0 required></div></div></div><div>'
                + `<p class="fa-stack fa-lg" id="${count}"><i class="fa fa-square-o fa-stack-2x"></i>`
                + '<i class="fa fa-times fa-stack-1x"></i></p></div></div></div>';
                $("#addExpense").before(code);
            }
        })
    </script>

</html>
