<html>
    <head>
        <title>Personal Finance Planner</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{time}}">
    </head>
    <body>
	    <form action = "/login" method = "POST"> 
            <label for="fname">username:</label><br>
            <input type="text" name= "username"><br>
            <label for="lname">password:</label><br>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
